<div class="stats flexcol">
  <div class="stat grid grid-5col">
    {{!-- Header row --}}
    <div class="grid-span-3"></div>
    <div class="resource-label align-center">{{localize "ATOW.mechanic.link"}}</div>
    <div class="resource-label align-center">{{localize "ATOW.mechanic.xp"}}</div>

    {{!-- Attribute rows --}}
    {{#each system.attributes as |attr key|}}
    <div class="grid-span-2"><a class="resource-label attribute-roll" data-attr="{{key}}">{{localize (concat "ATOW.attributes." key)}}</a></div>
    <input type="number" value="{{attr.value}}" readonly/>
    <input type="number" value="{{attr.linkMod}}" readonly/>
    <input type="number" name="system.attributes.{{key}}.xp" value="{{attr.xp}}" placeholder="0"/>
    {{/each}}
  </div>
</div>